<header class="page-header">
  <h1 class="text-center" dir="rtl">من أنا</h1>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li class="active">من أنا</li>
  </ol>
</nav>

<section class="container text-center">
  <div class="btn-group">
    <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/abdulwahed.alansary">
      <i class="fa fa-facebook-square fa-5x"></i>
    </a>
    <a class="btn btn-primary" target="_blank" href="https://twitter.com/abdulwahed1978">
      <i class="fa fa-twitter-square fa-5x"></i>
    </a>
  </div>
</section>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
