<header class="page-header">
  <h1 class="text-center" dir="rtl">مقالات</h1>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li class="active">مقالات</li>
  </ol>
</nav>

<section class="container">
  <article class="panel panel-default" ng-repeat="article in vm.articles">
    <header class="panel-heading text-center">
      <a dir="rtl" ng-href="#/article/{{article.$id}}" ng-bind="article.title"></a>
    </header>
    <div class="panel-body text-center">
      <section class="thumbnail">
        <img alt="{{article.image.name}}" ng-show="article.image" ng-src="{{article.image.url}}">
        <div class="caption"><pre class="text-right" dir="rtl">{{ article.body | truncate }}</pre></div>
      </section>
    </div>
    <footer class="panel-footer text-center" ng-show="vm.isAdmin()">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.articles.$remove(article)">حذف</button>
        <a ng-href="#/article/{{article.$id}}/edit" class="btn btn-sm btn-primary">تعديل</a>
      </div>
    </footer>
  </article>
</section>

<hr ng-show="vm.isAdmin()">

<footer class="container" ng-show="vm.isAdmin()">
  <a href="#/articles/new" class="btn btn-success btn-lg btn-block">إضافة مقال</a>
</footer>
