<header class="page-header">
  <h1 class="text-center" dir="rtl">شعر</h1>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li class="active">شعر</li>
  </ol>
</nav>

<section class="container">
  <article class="panel panel-default" ng-repeat="poem in vm.poems">
    <header class="panel-heading text-center">
      <a dir="rtl" ng-href="#/poem/{{poem.$id}}" ng-bind="poem.title"></a>
    </header>
    <div class="panel-body text-center">
      <p ng-repeat="line in poem.lines">
        <span ng-bind="line.second"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        -
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-bind="line.first"></span>
      </p>
    </div>
    <footer class="panel-footer text-center" ng-show="mainCtrl.isAdmin()">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.poems.$remove(poem)">حذف</button>
        <a ng-href="#/poem/{{poem.$id}}/edit" class="btn btn-sm btn-primary">تعديل</a>
      </div>
    </footer>
  </article>
</section>

<hr ng-show="mainCtrl.isAdmin()">

<footer class="container" ng-show="mainCtrl.isAdmin()">
  <a href="#/poems/new" class="btn btn-success btn-lg btn-block">إضافة قصيدة</a>
</footer>
