<header class="page-header">
  <h1 class="text-center" dir="rtl" ng-bind="vm.poem.title" ng-hide="vm.isEditing()"></h1>
  <div class="form-group container" dir="rtl" ng-show="vm.isEditing()">
    <label class="sr-only" dir="rtl" for="poemTitle">العنوان</label>
    <input type="text" class="form-control" dir="rtl" id="poemTitle" ng-model="vm.poem.title"
           placeholder="العنوان" autofocus required>
  </div>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li><a href="#/poems">شعر</a></li>
    <li class="active" ng-bind="vm.poem.title"></li>
  </ol>
</nav>

<hr>

<article>
  <section class="container">
    <div class="text-center" ng-hide="vm.isEditing()">
      <p ng-repeat="line in vm.poem.lines">
        <span ng-bind="line.second"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        -
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-bind="line.first"></span>
      </p>
    </div>
    <div class="row" ng-repeat="line in vm.poem.lines" ng-show="vm.isEditing()">
      <div class="col-xs-2" ng-show="$last">
        <button type="button" class="btn btn-primary" ng-click="vm.append(vm.poem)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <div class="col-xs-2" ng-hide="$last">
        <button type="button" class="btn btn-danger" ng-click="vm.remove(vm.poem, $index)">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <input class="form-control" dir="rtl" required ng-model="line.second" placeholder="الشطر الثاني">
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <input class="form-control" dir="rtl" required ng-model="line.first" placeholder="الشطر الأول">
        </div>
      </div>
    </div>
  </section>
  <footer class="text-center" ng-show="mainCtrl.isAdmin()">
    <div class="btn-group" ng-hide="vm.isEditing()">
      <button type="button" class="btn btn-sm btn-danger" ng-click="vm.destroy()">حذف</button>
      <a ng-href="#/poem/{{vm.poem.$id}}/edit" class="btn btn-sm btn-primary">تعديل</a>
    </div>
    <div class="btn-group" ng-show="vm.isEditing()">
      <button type="button" class="btn btn-sm btn-danger" ng-click="vm.destroy()">حذف</button>
      <button type="button" class="btn btn-sm btn-primary" ng-click="vm.save()">حفظ</button>
    </div>
  </footer>
</article>

