<header class="page-header">
  <h1 class="text-center" dir="rtl">مقتطفات</h1>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li class="active">مقتطفات</li>
  </ol>
</nav>

<section class="container text-center">
  <article class="panel panel-default" ng-repeat="quote in vm.quotes">
    <div class="panel-body" dir="rtl">
      <div dir="rtl" ng-bind-html="quote.text" ng-show="vm.isVisitor()"></div>
      <div ng-show="vm.isAdmin()">
        <textarea class="form-control" dir="rtl" autofocus required
                  ng-model="quote.text" contenteditable="true" ckeditor>
        </textarea>
      </div>
    </div>
    <div class="panel-footer" ng-show="vm.isAdmin()">
      <div aria-label="إدارة مقتطف" class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.quotes.$remove(quote)">حذف</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.quotes.$save(quote)">حفظ</button>
      </div>
    </div>
  </article>
</section>

<hr ng-show="vm.isAdmin()">

<footer class="container" ng-show="vm.isAdmin()">
  <a href="#/quotes/new" class="btn btn-success btn-lg btn-block">إضافة مقتطف</a>
</footer>
