<header class="page-header">
  <h1 class="text-center" dir="rtl">مقتطفات</h1>
</header>

<nav class="container" dir="rtl">
  <ol class="breadcrumb">
    <li><a href="#/">الصفحة الرئيسية</a></li>
    <li class="active">مقتطفات</li>
  </ol>
</nav>

<section class="container text-center">
  <article class="panel panel-default" ng-repeat="quote in vm.quotes">
    <div class="panel-body">
      <pre dir="rtl" ng-bind="quote.text" ng-hide="vm.isEditing(quote.$id)"></pre>
      <textarea class="form-control" dir="rtl" autofocus required
                ng-show="vm.isEditing(quote.$id)" ng-model="quote.text" msd-elastic>
      </textarea>
    </div>
    <div class="panel-footer" ng-show="mainCtrl.isAdmin()">
      <div aria-label="إدارة مقتطف" class="btn-group" role="group" ng-show="vm.isEditing(quote.$id)">
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.quotes.$remove(quote)">حذف</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.update(quote)">حفظ</button>
      </div>
      <div aria-label="إدارة مقتطف" class="btn-group" role="group" ng-hide="vm.isEditing(quote.$id)">
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.quotes.$remove(quote)">حذف</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.edit(quote.$id)">تعديل</button>
      </div>
    </div>
  </article>
</section>

<hr ng-show="mainCtrl.isAdmin()">

<footer class="container" ng-show="mainCtrl.isAdmin()">
  <a href="#/quotes/new" class="btn btn-success btn-lg btn-block">إضافة مقتطف</a>
</footer>
